@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --blanco: #fff;
    --letrasLogin:gray;
    --aqua: #40BB6E;
    --fuentePrincipal: 'Montserrat'!important;
    --borderColor:#26458D;
    --azul1:#111F2E;
    --vemergent:#687FA4;
}

.tabs-header {
  display: flex;
  justify-content: space-between;
}

.tab {
    padding: 3px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.tab:hover {
    border-color: #010E1D;
}

.active {
    border-color: #010E1D;
}
.active-picker {
    background-color: #687FA4;
}

.item-picker {
    padding: 0.25rem 0.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5rem;
}

.table-ingresos {
    overflow: hidden;
    margin-right: 0.5rem;
}
.table-ingresos thead tr th {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.table-ingresos tbody tr td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-top: 3px solid #010E1D;
}
<<<<<<< HEAD
.ring-button {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
}
=======

>>>>>>> e1be4caf151b5add7e284387efa6ca153b504955
