@tailwind base;
@tailwind components;
@tailwind utilities;

.tabs-header {
  display: flex;
  justify-content: space-between;
}

.tab {
    padding: 3px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.tab:hover {
    border-color: #010E1D;
}

.active {
    border-color: #010E1D;
}
.table-ingresos {
    overflow: hidden;
    margin-right: 0.5rem;
}
.table-ingresos thead tr th {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.table-ingresos tbody tr td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-top: 3px solid #010E1D;
}
